<ion-view title="Home" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="home-form4" class="list">
            <label class="item item-input" id="home-textarea1">
                <span class="input-label">Saludo</span><textarea placeholder=""></textarea>
            </label>
        </form>
<ion-scroll style="height:30vh;">
        <ul >
          <li class="animate-repeat" style="margin-bottom:10px;" ng-repeat="item in response.data">
            <strong>{{item.title}}</strong>
            {{item.body}}
          </li>
        </ul>
</ion-scroll>
<!--
        {{response.data}}
-->
        <div class="list card" id="home-card22">
            <ion-item class="item-icon-left positive" id="home-list-item3">
                <i class="icon ion-ionic"></i>Tarjeta</ion-item>
            <div class=" item item-image">
                <img src="img/CfDCiph1QA23eT5muhf4_WallpapersxlSexyUbuntuPage2884861920x1200.jpg"
                ng-click="consumir()"
                height="auto" style="display: block; margin-left: auto; margin-right: auto; width:50%">
            </div>
        </div>
    </ion-content>
</ion-view>
