<ion-view title="Login" id="page1">
    <ion-content padding="true" class="has-header">
        <div>
            <br>
            <br>
            <br>
        </div>
        <form id="login-form3" class="list">
            <label class="item item-input" id="login-input2">
                <span class="input-label">Login</span>
                <input type="text" placeholder="" ng-model="user.login">
            </label>
            <div>
                <br>
            </div>
            <label class="item item-input" id="login-input3">
                <span class="input-label">Password</span>
                <input type="password" placeholder="" ng-model="user.password">
            </label>
        </form>
        <div>
            <br>
            <br>
        </div>
        <button ng-click="login1()" id="login-button1" style="font-weight:600;border-radius:10px 10px 10px 10px;" class="button button-positive  button-block icon ion-android-arrow-forward">Login</button>
        <br>
        <button ng-click="register()" style="font-weight:600;border-radius:10px 10px 10px 10px;"
        class="button button-positive  button-block icon ion-android-arrow-forward">Registro</button>
        <br>
        <br>
        <h3 style="color:red;">{{error}}</h3>
    </ion-content>
</ion-view>
