<ion-view title="Login" id="page1">
    <ion-content padding="true" class="has-header">
        <form id="login-form3" class="list">
            <label class="item item-input" id="login-input2">
                <span class="input-label">Login</span>
                <input type="text" placeholder="" ng-model="user.login">
            </label>
            <div>
                <br>
            </div>
            <label class="item item-input" id="login-input2">
                <span class="input-label">Correo</span>
                <input type="text" placeholder="" ng-model="user.email">
            </label>
            <div>
                <br>
            </div>
            <label class="item item-input" id="login-input3">
                <span class="input-label">Password</span>
                <input type="password" placeholder="" ng-model="user.password">
            </label>
        </form>
        <div>
            <br>
            <br>
        </div>
        {{resultado.data}}
        <button ng-click="register()" id="login-button1" style="font-weight:600;border-radius:10px 10px 10px 10px;" class="button button-positive  button-block icon ion-android-arrow-forward">
          Guardar</button>
<!--
        <button ng-click="consultar()" id="login-button1" style="font-weight:600;border-radius:10px 10px 10px 10px;" class="button button-positive  button-block icon ion-android-arrow-forward">
          Consultar</button>
-->
    </ion-content>
</ion-view>
